<div class="container-fluid">
  <div
    class="nested-container d-flex align-content-center justify-content-center flex-wrap"
  >
    <!-- about me section -->
    <div class="row">
      <div class="col-3"></div>
      <div class="col-6">
        <img
          src="../../assets/img/5370748.png"
          class="about-img rounded-circle mx-auto d-block mb-5"
        />
        <h2 class="fs-3 text-center">About Me</h2>
        <p class="text-center">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi
          reiciendis mollitia, error laboriosam itaque suscipit doloribus
          aspernatur voluptas voluptate nesciunt quisquam aut eaque maxime
          sapiente dicta dolor dolorem totam ut.
        </p>
      </div>
      <div class="col-3"></div>
    </div>
    <!-- about me section ends -->

    <!-- my skills section -->
    <div>
      <div class="row text-center pt-5">
        <!-- my skills -->
        <div class="col-4">
          <h6 class="fs-9 fw-bold text-decoration-underline mb-5">
            Web technologies
          </h6>
          <!-- nested row -->
          <div class="row mb-5">
            <!-- first row -->
            <div class="col-4">
              <figure class="figure">
                <img
                  src="../../assets/img/about/html-5.png"
                  class="img-thumbnail about-icons"
                  alt="...."
                />
                <figcaption class="pt-2 fw-bold fw-italic">html5</figcaption>
              </figure>
            </div>
            <div class="col-4">
              <figure class="figure">
                <img
                  src="../../assets/img/about/css-3.png"
                  class="img-thumbnail about-icons"
                  alt="...."
                />
                <figcaption class="pt-2 fw-bold fw-italic">css3</figcaption>
              </figure>
            </div>
            <div class="col-4">
              <figure class="figure">
                <img
                  src="../../assets/img/about/js.png"
                  class="img-thumbnail about-icons"
                  alt="...."
                />
                <figcaption class="pt-2 fw-bold fw-italic">
                  javascript
                </figcaption>
              </figure>
            </div>
          </div>
        </div>
        <!-- web framework section -->
        <div class="col-4">
          <h6 class="fs-9 fw-bold text-decoration-underline mb-5">
            Web Frameworks
          </h6>
          <div class="row">
            <!-- first nested row -->
            <div class="col-4">
              <figure class="figure">
                <img
                  src="../../assets/img/about/icons8-angularjs-64.png"
                  class="img-thumbnail about-icons"
                  alt="...."
                />
                <figcaption class="pt-2 fw-bold fw-italic">
                  angularJS
                </figcaption>
              </figure>
            </div>
            <div class="col-4">
              <figure class="figure">
                <img
                  src="../../assets/img/about/icons8-react-64.png"
                  class="img-thumbnail about-icons"
                  alt="...."
                />
                <figcaption class="pt-2 fw-bold fw-italic">reactJS</figcaption>
              </figure>
            </div>
            <div class="col-4">
              <figure class="figure">
                <img
                  src="../../assets/img/about/icons8-nodejs-64.png"
                  class="img-thumbnail about-icons"
                  alt="...."
                />
                <figcaption class="pt-2 fw-bold fw-italic">nodeJS</figcaption>
              </figure>
            </div>
          </div>
        </div>
        <!-- web technologies-->
        <div class="col-4">
          <h6 class="fs-9 fw-bold text-decoration-underline mb-5">
            Code Editors & IDEs
          </h6>
          <!-- nested row -->
          <div class="row">
            <!-- first row -->
            <div class="col-4">
              <figure class="figure">
                <img
                  src="../../assets/img/about/icons8-visual-studio-code-2019-64(1).png"
                  class="img-thumbnail about-icons"
                  alt="...."
                />
                <figcaption class="pt-2 fw-bold fw-italic">VS Code</figcaption>
              </figure>
            </div>
            <div class="col-4">
              <figure class="figure">
                <img
                  src="../../assets/img/about/icons8-webstorm-64.png"
                  class="img-thumbnail about-icons"
                  alt="...."
                />
                <figcaption class="pt-2 fw-bold fw-italic">WebStorm</figcaption>
              </figure>
            </div>
            <div class="col-4">
              <figure class="figure">
                <img
                  src="../../assets/img/about/icons8-sublime-text-64.png"
                  class="img-thumbnail about-icons"
                  alt=""
                />
                <figcaption class="pt-2 fw-bold fw-italic">
                  SublimeText
                </figcaption>
              </figure>
            </div>
          </div>
        </div>
        <!-- os/code editors-->
      </div>
    </div>
    <!-- my skill section ends -->
  </div>
</div>
