<div class="container">
  <div class="row align-items-end">
    <div class="col-3"></div>
    <div class="col-6">
      <img
        src="../../assets/img/frontenddev-img.jpg"
        class="about-img mx-auto d-block mb-5"
      />
      <h2 class="fs-3 text-center">About Me</h2>
      <p class="text-center">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi
        reiciendis mollitia, error laboriosam itaque suscipit doloribus
        aspernatur voluptas voluptate nesciunt quisquam aut eaque maxime
        sapiente dicta dolor dolorem totam ut.
      </p>
    </div>
    <div class="col-3"></div>
  </div>
  <div class="row text-center">
    <!-- my skills -->
    <div class="col-4">
      <h4 class="fs-4 fw-bold text-decoration-underline">
        Programming Languages
      </h4>
    </div>
    <!-- programming language section -->
    <div class="col-4">
      <h4 class="fs-4 fw-bold text-decoration-underline">Web Frameworks</h4>
    </div>
    <!-- web technologies-->
    <div class="col-4">
      <h4 class="fs-4 fw-bold text-decoration-underline">
        Code Editors & IDEs
      </h4>
    </div>
    <!-- os/code editors-->
  </div>
</div>
