<div class="container">
  <div class="row align-items-end">
    <div class="col-3"></div>
    <div class="col-6">
      <img
        src="../../assets/img/frontenddev-img.jpg"
        class="about-img mx-auto d-block mb-5"
      />
      <h2 class="fs-3 text-center">About Me</h2>
      <p class="text-center">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi
        reiciendis mollitia, error laboriosam itaque suscipit doloribus
        aspernatur voluptas voluptate nesciunt quisquam aut eaque maxime
        sapiente dicta dolor dolorem totam ut.
      </p>
    </div>
    <div class="col-3"></div>
  </div>
  <div class="row text-center">
    <!-- my skills -->
    <div class="col-4">
      <h4 class="fs-4 fw-bold text-decoration-underline">Web technologies--</h4>
      <div class="row">
        <!-- first row -->
        <div class="col-4">
          <img
            src="../../assets/img/about/html-5.png"
            class="img-thumbnail about-icons"
            alt="...."
          />
        </div>
        <div class="col-4">
          <img
            src="../../assets/img/about/css-3.png"
            class="img-thumbnail about-icons"
            alt="...."
          />
        </div>
        <div class="col-4">
          <img
            src="../../assets/img/about/js.png"
            class="img-thumbnail about-icons"
            alt="...."
          />
        </div>
      </div>
      <div class="row">
        <!-- second row -->
        <div class="col-4">
          <img
            src="../../assets/img/about/icons8-nodejs-64.png"
            class="img-thumbnail about-icons"
            alt="...."
          />
        </div>
        <div class="col-4">
          <img src="" class="" alt="" />
        </div>
        <div class="col-4">
          <img src="" class="" alt="" />
        </div>
      </div>
    </div>
    <!-- programming language section -->
    <div class="col-4">
      <h4 class="fs-4 fw-bold text-decoration-underline">Web Frameworks</h4>
      <div class="row">
        <!-- first row -->
        <div class="col-4">
          <img
            src="../../assets/img/about/icons8-angularjs-64.png"
            class="img-thumbnail about-icons"
            alt="...."
          />
        </div>
        <div class="col-4">
          <img
            src="../../assets/img/about/icons8-react-native-64.png"
            class="img-thumbnail about-icons"
            alt="...."
          />
        </div>
        <div class="col-4">
          <img
            src="../../assets/img/about/icons8-ruby-programming-language-64.png"
            class="img-thumbnail about-icons"
            alt="...."
          />
        </div>
      </div>
    </div>
    <!-- web technologies-->
    <div class="col-4">
      <h4 class="fs-4 fw-bold text-decoration-underline">
        Code Editors & IDEs
      </h4>
    </div>
    <!-- os/code editors-->
  </div>
</div>
