<div class="container">
  <div class="row text-center">
    <h1 class="text-center">Why should your hire me?</h1>
    <div class="col-6">
      <!-- my soft skills section -->
      <h6 class="fs-9 fw-bold text-decoration-underline mb-5">Team Player</h6>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque,
        laboriosam modi. Aliquam dolorem id nisi dolor minus aspernatur tempora
        repellendus officiis aperiam dolorum quibusdam expedita inventore,
        exercitationem dolores necessitatibus eligendi.
      </p>
    </div>
    <div class="col-6">
      <h6 class="fs-9 fw-bold text-decoration-underline mb-5">Communicator</h6>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque,
        laboriosam modi. Aliquam dolorem id nisi dolor minus aspernatur tempora
        repellendus officiis aperiam dolorum quibusdam expedita inventore,
        exercitationem dolores necessitatibus eligendi.
      </p>
    </div>
  </div>
  <div class="row text-center">
    <!-- my freelance platforms section -->
    <div class="col-6">
      <h6 class="fs-9 fw-bold text-decoration-underline mb-5">
        Freelance Platforms
      </h6>
      <p></p>
    </div>

    <!-- contact me section -->
    <div class="col-6">
      <h6 class="fs-9 fw-bold text-decoration-underline mb-5">
        Freelance Platforms
      </h6>
      <p></p>
    </div>
  </div>
</div>
