<!-- container -->
<div class="container">
  <!-- nested container -->
  <div class="nested-container d-flex align-content-center flex-wrap">
    <div class="row text-center">
      <h1 class="text-center">Why should your hire me?</h1>
      <div class="col-6">
        <!-- my soft skills section -->
        <h6 class="fs-9 fw-bold text-decoration-underline mt-5 mb-5">
          Team Player
        </h6>
        <p class="text-center">
          I love working in a team environment. I'm work well with others
          whether it's in open workspace, or using online video collaboration
          software such as zoom or microsoft teams. I think team work is much
          more important than individual development because it leads to a
          variety of positive outcomes in app development, as well as faster and
          better productivity.
        </p>
      </div>
      <div class="col-6">
        <h6 class="fs-9 fw-bold text-decoration-underline mt-5 mb-5">
          Communicator
        </h6>
        <p class="text-center">
          Communication is key and I believe even the most smallest details when
          it comes to developing a web app counts. Whether it involves using
          responsive images, refactoring code to make app run better. I love
          voicing my thoughts, creativity, and opinions in the wonderful world
          of web development.
        </p>
      </div>
    </div>
    <!-- soft skills section ended -->

    <div class="row text-center">
      <!-- my freelance platforms section -->
      <div class="col-6">
        <h6 class="fs-9 fw-bold text-decoration-underline mt-5 mb-5">
          Freelance Platforms
        </h6>
        <p class="text-center">
          The following below are freelance platform I'm currently freelancing
          on. Feel free to hire me for small gig, side project, or
          short/long-term dev/software project
        </p>
        <div class="row">
          <!-- nested row -->
          <div class="col-6">
            <!-- nested column -->
            <figure class="figure">
              <a
                href="https://www.upwork.com/freelancers/~012049fe68961a3a28"
                target="_blank"
                ><img
                  src="../../assets/img/hire-me/icons8-upwork-64.png"
                  class="img-thumbnail contact-img"
                  alt="...."
                />
              </a>
              <figcaption class="figure-caption">UpWork.com</figcaption>
            </figure>
          </div>
          <div class="col-6">
            <figure class="figure">
              <a
                href="https://www.fiverr.com/josephpborne?up_rollout=true"
                target="_blank"
                ><img
                  src="../../assets/img/hire-me/fiverr.png"
                  class="img-thumbnail contact-img"
                  alt="...."
                />
              </a>
              <figcaption class="figure-caption">freelancer.com</figcaption>
            </figure>
          </div>
        </div>
      </div>

      <!-- contact me section -->
      <div class="col-6">
        <h6 class="fs-9 fw-bold text-decoration-underline mt-5 mb-5">
          How To Contact me:
        </h6>
        <p>
          You can email me at josephpbourne@outlook.com for business inquiries,
          code collaborations, or any other oppurtunities/projects.
        </p>
      </div>
    </div>
    <!-- -->
  </div>
  <!-- nested container ended -->
</div>
<!-- container ended-->
