<!-- container -->
<div class="container">
  <!-- nested container -->
  <div class="nested-container d-flex align-content-center flex-wrap">
    <div class="row text-center">
      <h1 class="text-center">Why should your hire me?</h1>
      <div class="col-6">
        <!-- my soft skills section -->
        <h6 class="fs-9 fw-bold text-decoration-underline mt-5 mb-5">
          Team Player
        </h6>
        <p class="text-start">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque,
          laboriosam modi. Aliquam dolorem id nisi dolor minus aspernatur
          tempora repellendus officiis aperiam dolorum quibusdam expedita
          inventore, exercitationem dolores necessitatibus eligendi.
        </p>
      </div>
      <div class="col-6">
        <h6 class="fs-9 fw-bold text-decoration-underline mt-5 mb-5">
          Communicator
        </h6>
        <p class="text-start">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque,
          laboriosam modi. Aliquam dolorem id nisi dolor minus aspernatur
          tempora repellendus officiis aperiam dolorum quibusdam expedita
          inventore, exercitationem dolores necessitatibus eligendi.
        </p>
      </div>
    </div>
    <!-- soft skills section ended -->

    <div class="row text-center">
      <!-- my freelance platforms section -->
      <div class="col-6">
        <h6 class="fs-9 fw-bold text-decoration-underline mt-5 mb-5">
          Freelance Platforms
        </h6>
        <p class="text-center">
          The following below are freelance platform I'm currently freelancing
          on. Feel free to hire me for small gig, side project, or
          short/long-term dev/software project
        </p>
        <div class="row">
          <!-- nested row -->
          <div class="col-6">
            <!-- nested column -->
            <figure class="figure">
              <a
                href="https://github.com/shopifywithjoe/converse"
                target="_blank"
                ><img
                  src="../../assets/img/hire-me/icons8-upwork-64.png"
                  class="img-thumbnail contact-img"
                  alt="...."
                />
              </a>
              <figcaption class="figure-caption">UpWork.com</figcaption>
            </figure>
          </div>
          <div class="col-6">
            <figure class="figure">
              <a
                href="https://github.com/shopifywithjoe/converse"
                target="_blank"
                ><img
                  src="../../assets/img/hire-me/687474703a2f2f692e737461636b2e696d6775722e636f6d2f36774c69492e6a7067.jpg"
                  class="img-thumbnail contact-img"
                  alt="...."
                />
              </a>
              <figcaption class="figure-caption">freelancer.com</figcaption>
            </figure>
          </div>
        </div>
      </div>

      <!-- contact me section -->
      <div class="col-6">
        <h6 class="fs-9 fw-bold text-decoration-underline mt-5 mb-5">
          How To Contact me:
        </h6>
        <p></p>
      </div>
    </div>
    <!-- -->
  </div>
  <!-- nested container ended -->
</div>
<!-- container ended-->
