<div class="container">
  <div class="row text-center" style="margin-top: 14rem">
    <!-- websites -->
    <div class="col-6">
      <h6 class="fs-9 fw-bold text-decoration-underline mb-5">Websites</h6>
      <div class="row">
        <!-- nested row -->
        <div class="col-6">
          <!-- nested column -->
          <figure class="figure">
            <img
              src="../../assets/img/my work/landing-pic.png"
              class="img-thumbnail portfolio-img"
              alt="...."
            />
            <figcaption class="figure-caption text-start">
              A Langing page made with HTML5 and CSS3 with a video as a
              background.
            </figcaption>
          </figure>
        </div>
        <div class="col-6">
          <figure class="figure">
            <img
              src="../../assets/img/my work/home.png"
              class="img-thumbnail portfolio-img"
              alt="...."
            />
            <figcaption class="figure-caption">
              A Langing page made with HTML5 and CSS3
            </figcaption>
          </figure>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <figure class="figure">
            <img
              src="../../assets/img/my work/landing-pic2.png"
              class="img-thumbnail portfolio-img"
              alt="...."
            />
            <figcaption class="figure-caption">
              A Langing page made with HTML5 and CSS3
            </figcaption>
          </figure>
        </div>
        <div class="col-6">
          <figure class="figure">
            <a
              href="https://github.com/shopifywithjoe/Landing-Page1"
              target="_blank"
            >
              <img
                src="../../assets/img/my work/landing-pic3.png"
                class="img-thumbnail portfolio-img"
                alt="...."
              />
            </a>
            <figcaption class="figure-caption">
              A Langing page made with HTML5 and CSS3
            </figcaption>
          </figure>
        </div>
      </div>
    </div>

    <!-- web apps -->

    <div class="col-6">
      <h6 class="fs-9 fw-bold text-decoration-underline mb-5">web apps</h6>
      <div class="row">
        <!-- nested row -->
        <div class="col-6">
          <!-- nested column -->
          <figure class="figure">
            <a href="https://github.com/shopifywithjoe/converse" target="_blank"
              ><img
                src="../../assets/img/my work/converse chat.png"
                class="img-thumbnail portfolio-img"
                alt="...."
              />
            </a>
            <figcaption class="figure-caption text-center">
              A blogging website where users can create blog post. Developed
              using the ruby on rails web framework, erb, and coffescript code.
            </figcaption>
          </figure>
        </div>
        <div class="col-6"></div>
      </div>
      <div class="row">
        <div class="col-6"></div>
        <div class="col-6"></div>
      </div>
    </div>
  </div>

  <!-- 2nd row -->

  <div class="row text-center" style="margin-top: 10rem">
    <!-- websites -->
    <div class="col-6">
      <h6 class="fs-9 fw-bold text-decoration-underline mb-5">
        opensource projects
      </h6>
      <div class="row">
        <!-- nested row -->
        <div class="col-6">
          <!-- nested column -->
          <figure class="figure">
            <img
              src="../../assets/img/my work/GameTTT_Graphics.png"
              class="img-thumbnail portfolio-img"
              alt="...."
            />
            <figcaption class="figure-caption text-start">
              Tic Tac Toe program coded in javascript using the java swing gui
              library.
            </figcaption>
          </figure>
        </div>
        <div class="col-6">
          <figure class="figure">
            <a href="https://github.com/shopifywithjoe/rgn" target="_blank">
              <img
                src="../../assets/img/my work/Random_Subset__.png"
                class="img-thumbnail portfolio-img"
                alt="...."
              />
            </a>
            <figcaption class="figure-caption">
              A ruby gem that generates random name.
            </figcaption>
          </figure>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <figure class="figure">
            <a href="https://github.com/UbbyTech/navNslide" target="_blank">
              <img
                src="../../assets/img/my work/default.png"
                class="img-thumbnail portfolio-img"
                alt="...."
              />
            </a>
            <figcaption class="figure-caption text-start">
              A jQuery snippet for creating a simple slide-in/out navigation
              functionality
            </figcaption>
          </figure>
        </div>
        <div class="col-6"></div>
      </div>
    </div>

    <!-- web apps -->

    <div class="col-6">
      <h6 class="fs-9 fw-bold text-decoration-underline mb-5">misc projects</h6>
      <div class="row">
        <!-- nested row -->
        <div class="col-6">
          <!-- nested column -->
        </div>
        <div class="col-6"></div>
      </div>
      <div class="row">
        <div class="col-6"></div>
        <div class="col-6"></div>
      </div>
    </div>
  </div>
</div>
