<div class="container">
  <div class="row text-center" style="margin-top: 14rem">
    <!-- websites -->
    <div class="col-6">
      <h6 class="fs-9 fw-bold text-decoration-underline mb-5">Websites</h6>
      <div class="row">
        <!-- nested row -->
        <div class="col-6">
          <!-- nested column -->
          <img
            src="../../assets/img/my work/landing-pic.png"
            class="img-thumbnail portfolio-img"
            alt="...."
          />
        </div>
        <div class="col-6">
          <img
            src="../../assets/img/my work/home.png"
            class="img-thumbnail portfolio-img"
            alt="...."
          />
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <img
            src="../../assets/img/my work/landing-pic2.png"
            class="img-thumbnail portfolio-img"
            alt="...."
          />
        </div>
        <div class="col-6">
          <a
            href="https://github.com/shopifywithjoe/Landing-Page1"
            target="_blank"
          >
            <img
              src="../../assets/img/my work/landing-pic3.png"
              class="img-thumbnail portfolio-img"
              alt="...."
            />
          </a>
        </div>
      </div>
    </div>

    <!-- web apps -->

    <div class="col-6">
      <h6 class="fs-9 fw-bold text-decoration-underline mb-5">web apps</h6>
      <div class="row">
        <!-- nested row -->
        <div class="col-6">
          <!-- nested column -->
          <a href="https://github.com/shopifywithjoe/converse" target="_blank"
            ><img
              src="../../assets/img/my work/converse chat.png"
              class="img-thumbnail portfolio-img"
              alt="...."
            />
          </a>
        </div>
        <div class="col-6"></div>
      </div>
      <div class="row">
        <div class="col-6"></div>
        <div class="col-6"></div>
      </div>
    </div>
  </div>

  <!-- 2nd row -->

  <div class="row text-center" style="margin-top: 10rem">
    <!-- websites -->
    <div class="col-6">
      <h6 class="fs-9 fw-bold text-decoration-underline mb-5">
        opensource projects
      </h6>
      <div class="row">
        <!-- nested row -->
        <div class="col-6">
          <!-- nested column -->
          <img
            src="../../assets/img/my work/GameTTT_Graphics.png"
            class="img-thumbnail portfolio-img"
            alt="...."
          />
        </div>
        <div class="col-6">
          <img
            src="../../assets/img/my work/Random_Subset__.png"
            class="img-thumbnail portfolio-img"
            alt="...."
          />
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <img
            src="../../assets/img/my work/converse chat.png"
            class="img-thumbnail portfolio-img"
            alt="...."
          />
        </div>
        <div class="col-6">
          <img
            src="../../assets/img/my work/converse chat.png"
            class="img-thumbnail portfolio-img"
            alt="...."
          />
        </div>
      </div>
    </div>

    <!-- web apps -->

    <div class="col-6">
      <h6 class="fs-9 fw-bold text-decoration-underline mb-5">misc</h6>
      <div class="row">
        <!-- nested row -->
        <div class="col-6">
          <!-- nested column -->
          <img
            src="../../assets/img/my work/converse chat.png"
            class="img-thumbnail portfolio-img"
            alt="...."
          />
        </div>
        <div class="col-6">
          <img
            src="../../assets/img/my work/converse chat.png"
            class="img-thumbnail portfolio-img"
            alt="...."
          />
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <img
            src="../../assets/img/my work/converse chat.png"
            class="img-thumbnail portfolio-img"
            alt="...."
          />
        </div>
        <div class="col-6">
          <img
            src="../../assets/img/my work/converse chat.png"
            class="img-thumbnail portfolio-img"
            alt="...."
          />
        </div>
      </div>
    </div>
  </div>
</div>
