<!-- content area -->
<div class="d-flex justify-content-center flex-wrap">
  <img
    src="../../assets/img/5370748.png"
    class="layout1-img rounded-circle mx-auto d-block"
    alt="image"
  />
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6 text-center">
      <h2 class="fst-italic">Joseph Borne</h2>
      <p class="fs-5">
        👨‍💻 Freelance FrontEnd Web Developer with a passion for creating modern
        web applications, thinking outside the box, and bringing my crazy ideas
        to fruition using modern web frameworks.
      </p>
    </div>
    <div class="col-3"></div>
  </div>
</div>
<!-- content area ends -->

<!-- fixed bottom social media icons begins -->
<div class="fixed-bottom">
  <h3 class="fs-4 text-center">Follow Me on:</h3>
  <div class="d-flex justify-content-center">
    <a href="https://github.com/shopifywithjoe/" target="_blank">
      <img
        src="../../assets/img/1298743_github_git_logo_social_icon.png"
        class="rounded-circe mx-auto d-block layout2-img"
        alt="..."
      />
    </a>
    <a href="https://www.linkedin.com/in/josephpbourne/" target="_blank">
      <img
        src="../../assets/img/834713_linkedin_icon.png"
        class="rounded-circe mx-auto d-block layout2-img"
        alt="..."
      />
    </a>
    <a href="https://medium.com/@josephpbourne" target="_blank">
      <img
        src="../../assets/img/medium.png"
        class="rounded-circe mx-auto d-block layout2-img"
        alt="..."
      />
    </a>
    <a
      href="https://stackoverflow.com/users/5284687/joseph-borne"
      target="_blank"
    >
      <img
        src="../../assets/img/stack-overflow.png"
        class="rounded-circe mx-auto d-block layout2-img"
        alt="..."
      />
    </a>
  </div>
</div>
<!-- fixed bottom social media icons ends -->
